
#lilypad {
	opacity: 0.85;
	position: relative;
	width: 100%;
	height:500px;
	margin-top: -20px;
}

#logo {
	height: 50px;
	width: 100px;
	margin-top: -12px;
}

.container-fluid {
	background: transparent;
}