<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

<div class="container">
    <div class="span3 well">
        <center>
        <a href="#aboutModal" data-toggle="modal" data-target="#myModal"><img src="https://scontent-ams3-1.xx.fbcdn.net/v/t1.0-9/13690869_882817468529116_6401548309940614792_n.jpg?oh=4690fdd6841be57c55e1d841d6546ee1&oe=58336600" name="aboutme" width="140" height="140" class="img-circle"></a>
        <h3>Andrea Abode</h3>
        <span><strong>Preferences: </strong></span>
                        <span class="label label-warning">Pet Friendly</span>
                        <span class="label label-info">Queer Friendly</span>
                        <span class="label label-success">Early Worm</span>
                        <span class="label label-default">Slighty Messy </span>    &nbsp;
        </center>
        <br>
        <center>
                    <p class="text-left"><strong>Bio: </strong>I'm looking for housing in the LA area. I'm generally neat, but when I'm working late I put off doing dishes. I'm extremely friendly, so don't hesitate to reach out!
                    <br><br>
                    <strong> Gender: </strong>Female
                    <br><br>
                    <strong> Price Range: </strong>Under 1500/room
                    <br><br>
                    <strong> House Type: </strong>House
                    <br><br>
                    <strong> Location: </strong>Los Angeles

                    </p>
                    <iframe width="420" height="315" src="https://www.youtube.com/embed/G_loZBW6KFE" frameborder="0" allowfullscreen></iframe>
                    <br>
                    </center>
    </div>
    <!-- Modal -->
</div>