<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

<div class="container">
    <div class="span3 well">
        <center>
        <a href="#aboutModal" data-toggle="modal" data-target="#myModal"><img src="http://25.media.tumblr.com/tumblr_maod96TU9a1r633h5o1_500.jpg" name="aboutme" width="140" height="140" class="img-circle"></a>
        <h3>Anita Houwse</h3>
        <span><strong>Preferences: </strong></span>
                        <span class="label label-warning">Pet Friendly</span>
                        <span class="label label-info">Queer Friendly</span>
                        <span class="label label-success">Smoke Friendly</span>
                        <span class="label label-default">Very Clean </span>    &nbsp;

                        <span class="label label-danger">Party Animal</span>
        </center>
        <br>
        <center>
                    <p class="text-left"><strong>Bio: </strong>I'm looking for a chill roommate who's down to party, but keeps the living areas clean! I go to SF State and I'm majoring in Animal Psychology. Message me if you think we'd be a good match! :)
                    <br><br>
                    <strong> Gender: </strong>She/her/they/them
                    <br><br>
                    <strong> Price Range: </strong>Under 1500/room
                    <br><br>
                    <strong> House Type: </strong>Apartment
                    <br><br>
                    <strong> Location: </strong>San Francisco


                    </p>
                    <br>
                    </center>
    </div>
    <!-- Modal -->
</div>