<html>
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

  <script src="https://code.jquery.com/jquery-2.2.4.js" integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=" crossorigin="anonymous"></script>

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

  <link rel="stylesheet" type="text/css" href="../static/stylesheets/custom.css">

  <script src="../static/javascript/custom.js"></script>

</head>
<body>
<form action="/process-new-user" method="post" role="form">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">
            <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
          </button>
          <h2 class="modal-title" align = "center">register for <big>lilypad</big><span class = "glyphicon glyphicon-leaf"></span></h2>
          <h5 align = "center">homeless? homeMORE! a roommate matching service :)</h5>
        </div>

        <div class="modal-body">
          <form class="register">

            <div class="row">
              <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="form-group">
                  <input type="text" name="f-name" placeholder="First name" class="form-first-name form-control">
                </div>
              </div>

              <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="form-group">
                  <label class="sr-only" for="form-last-name">Last name</label>
                  <input type="text" name="l-name" placeholder="Last name" class="form-last-name form-control" id="form-last-name">
                </div>
              </div>
            </div>

            <div class="form-group">
              <label class="sr-only" for="form-email">email</label>
              <input type="text" name="email" placeholder="Email" class="form-email form-control">
            </div>

            <div class ="form-group">
              <input type="password" name="password" placeholder="Password" class="form-password form-control">
            </div>

            <div class = "centering">
              <div class = "form group">
                <label class="sr-only" for="form-about-yourself">About yourself</label>
                <p align = "left"><b> Gender:</b> </p>
                <label class = "radio-inline"><input name="Gender" type = "radio"> Female </label>
                <label class = "radio-inline"><input name="Gender" type = "radio"> Male </label>
                <label class = "radio-inline"><input name="Gender" type = "text" placeholder = "Other"> </label>
                <br><br>
                <p align = "left"><b>Preferences?</b></p>
                <div class="checkbox">
                  <label><input type="checkbox" value="">Pet friendly?</label>
                </div>
                <div class="checkbox">
                  <label><input type="checkbox" value="">Queer friendly?</label>
                </div>
                <div class="checkbox disabled">
                  <label><input type="checkbox" value="" >Smoke friendly?</label>
                </div>
                <p align = "left"><b> Introduction Video</b> </p>
                <input type = "file" name = "vidfile">
                <p align = "left"><br> <b>Registering as a: </b></p>
                <label class = "radio-inline"><input type="checkbox" name="isMentee"> Tenant </label>
                <label align = "center" class = "radio-inline"><input type = "checkbox" name="isMentor"> Landlord</label>
              </div>
            </div>
            <p><br></p>
            <div class="centering">
              <input type="submit" class="btn btn-lg btn-primary" value="Register">
            </div>
          </form>
        </div>
      </div>
    </div>
    </form>

    <div class="col-xs-6 col-sm-6 col-md-6">
                 <form class="form-signin">
                  <h2 class="form-signin-heading">sign in <span class="glyphicon glyphicon-leaf"></span></h2>
                      <input type="email" name="signinEmail" class="form-control" placeholder="Email address" required autofocus>
                      <input type="password" name="signinPassword" class="form-control" placeholder="Password" required>
                      <div class="checkbox">
                        <label> <input type="checkbox" value="remember-me"> Remember me </label>
                      </div>
               <input class="btn btn-lg btn-primary btn-block" type="submit" value="Sign in">
             </form>
    </div>
</body>