{% extends "base.html" %}
{% block title %}Lilypad Home{% endblock %}
{% block body %}
    <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <img src="/static/uploads/logo.png", id="logo"></img></a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/register">Register</a></li>
      <li><a href="/login">Login</a></li>
      <li><a href="/logout">Logout</a></li>
    </ul>
  </div>
</nav>

  <div id="carousel-example-generic">
    <img src="/static/uploads/lilypad.png" id="lilypad" alt="home">
  </div>
  <div class="main-text hidden-xs">
      <div class="col-md-12 text-center">
          <h1 id="homeTitle">
              Lilypad
              <span class="glyphicon glyphicon-leaf"></span>
            </h1>
          <h2>
              Roommate matching made easier.
          </h2>
          <div class="">
              <a class="btn btn-clear btn-lg btn-min-block" href="/roommate">Find roommate</a><a class="btn btn-clear btn-lg btn-min-block"
                  href="/offering">I'm offering a pad</a></div>
      </div>
  </div>
      </div>
  </div>
    
  </div>
{% endblock %}

