{% extends "base.html" %}  
{% block title%}Offering{% endblock %} 
{% block body%}
<div class="container">
  <h1>I Have Room In...</h1>
  <br>
  <div class="row">
    <div class="col-sm-4">
      <div class="panel panel-primary">
        <div class="panel-heading">Room in Home</div>
        <div class="panel-body"><img src="https://images.unsplash.com/photo-1428190318100-06790c8b2e5a?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=0933721d1ecb217d4864800508317574" class="img-responsive" style="width:100%" alt="Image"></div>
        
      </div>
    </div>
    <div class="col-sm-4">
      <div class="panel panel-primary">
        <div class="panel-heading">Room in Apartment</div>
        <div class="panel-body"><img src="https://images.unsplash.com/photo-1447946406942-2a5db28bff46?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=033558508789a282a36a6791149a9923" class="img-responsive" style="width:100%" alt="Image"></div>
        
      </div>
    </div>
    <div class="col-sm-4">
      <div class="panel panel-primary">
        <div class="panel-heading">Room in Duplex</div>
        <div class="panel-body"><img src="https://images.unsplash.com/photo-1457821324592-4ce8426fd1e5?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=931517fee74a24fe903189d994e95896" class="img-responsive" style="width:100%" alt="Image"></div>
        
      </div>
    </div>
  </div>
</div>
<br>
{% endblock %}
