
<!DOCTYPE html>
<html>
<head>
<title>LilyPad</title>


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous"> 

<script src="https://code.jquery.com/jquery-2.2.4.js"   integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI="   crossorigin="anonymous"></script>

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

<link rel="stylesheet" type="text/css" href="../static/stylesheets/custom.css">

<script src="../static/javascript/custom.js"></script>

</head>

<body>
  <div id="offering">
    <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <img src="/static/uploads/logo.png", id="logo"></img></a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/register">Register</a></li>
      <li><a href="/login">Login</a></li>
    </ul>
  </div>
</nav>
    
    <img src="/static/uploads/lilypad.png", id="lilypad"></img>
  </div>

  <h1> 
    <p>Where is your ideal place to live?</p><br>
  </h1>

<h2>
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <div class="panel panel-primary">
        <div class="panel-heading">Room in Home</div>
        <div class="panel-body"><img src="https://images.unsplash.com/photo-1428190318100-06790c8b2e5a?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=0933721d1ecb217d4864800508317574" class="img-responsive" style="width:100%" alt="Image"></div>
        
      </div>
    </div>
    <div class="col-sm-4">
      <div class="panel panel-primary">
        <div class="panel-heading">Room in Apartment</div>
        <div class="panel-body"><img src="https://images.unsplash.com/photo-1447946406942-2a5db28bff46?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=033558508789a282a36a6791149a9923" class="img-responsive" style="width:100%" alt="Image"></div>
        
      </div>
    </div>
    <div class="col-sm-4">
      <div class="panel panel-primary">
        <div class="panel-heading">Room in Duplex</div>
        <div class="panel-body"><img src="https://images.unsplash.com/photo-1457821324592-4ce8426fd1e5?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=931517fee74a24fe903189d994e95896" class="img-responsive" style="width:100%" alt="Image"></div>
        
      </div>
    </div>
  </div>
</div>
</h2>
<br>

</body>

